* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    
  }
  
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 350px;
    margin: 10px;
    padding: 10px;
    background-color: rgb(26, 175, 51);
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 0 5px #ccc;
  }
  
  .card h2 {
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
  }
  
  .card h4 {
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
  }

  .card img {
    border-radius: 20px;
  }

.card:hover {
    background-color: rgb(104, 195, 255);
    transform: scale(1.03);
    transition: background-color 1s;  
}





